 .banner {
    height: 100%;
    background-color: transparent;
    position: relative;
    background: $gradient-primary;
    &__slides {
        overflow: hidden;
        img {
            height: 450px;
            width: 450px;
            object-fit: cover;
        }
    } 
    &__swiper {
        position: absolute;
        bottom: 0;
    }
    &__content {
        padding-left: 40px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__button {
        margin-top: 45px;
    }
 }