body { 
    background-color: white;             
}   

h1 {
    span {
        color: #46A358;
    }
}

.flex {
    display: flex!important;
}

.justify-center {
    justify-content: center!important;
}